{{#if externalDocs}}
<div id="externalDocs" data-oai-keywords="externalDocs">
    <div class="openapi--external-docs-url">see <a href="externalDocs.url">{{externalDocs.url}}</a></div>
    <div class="openapi--external-docs-description">{{md externalDocs.description}}</div>
</div>
{{/if}}
