{{#if externalDocs}}
    <a data-oai-keywords="externalDocs" href="{{externalDocs.url}}">
        {{~#if externalDocs.description~}}
            {{~md externalDocs.description stripParagraph="true"~}}
            {{~else~}}
            {{~externalDocs.url~}}
        {{~/if~}}
    </a>
{{/if}}
