{{#if group}}
{{!--
    <th>Name</th>
    <th>Description</th>
    <th>Schema</th>
--}}
    {{#eachSorted group}}
        <tr class="openapi--param {{#if required}}required{{/if}}">
            <td class="openapi--operation--param-name">
                {{@key}}
                {{#if required}}<span class="label openapi--param-required">required</span>{{/if}}
            </td>
            <td>{{../title}}</td>
            <td>{{description}}</td>
            <td class="openapi--param-schema">
                {{! Replace section-partial in this context to enable a lean schema display }}
                {{#* inline "json-schema/util/section"}}
                    <div class="openapi--param-schema">
                        {{title}}: {{> @partial-block}}
                    </div>
                {{/inline}}
                {{> json-schema/schema . description=""}}
            </td>
        </tr>
    {{/eachSorted}}
{{/if}}
