{{!--
Render a single path object
@param {string} path the path pattern
@param {object} pathItem the Path Item Object
--}}
<span id="path-{{htmlId path}}"></span>
{{#each (openapi__operations @key .)}}
    {{>openapi/operation . operation=operation method=method path=path pathItemParameters=../parameters}}
{{/each}}
