{{!-- renders the <body> of the HTML page.--}}
<h1>{{info.title}}</h1>
<p>{{md info.description}}</p>

{{>swagger/summary}}

{{>swagger/securityDefinitions}}

{{>swagger/paths}}

{{>swagger/definitions}}
