<h1>{{info.title}}</h1>

<p>{{{info.description}}}</p>

<h2>Paths</h2>


{{#eachSorted paths}}
    {{>swagger-to-html/path value pathDef=value path=key}}
{{/eachSorted}}


<h2>Definitions</h2>

{{>swagger-to-html/definitions}}
