{{#if responses}}
    <section class="sw-response-body">
        <p>{{#each produces}}<span class="label label-default">{{.}}</span> {{/each}}</p>

        <table class="table">
            <thead>
            <tr>
                <th class="sw-response-code"></th>
                <th class="sw-response-description"></th>
                <th class="sw-response-data-type hidden-xs hidden-sm"></th>
            </tr>
            </thead>
            <tbody>
            {{#each responses}}
                <tr>
                    <td>{{@key}}</td>
                    <td>
                        <div class="sw-response-description-text">
                            {{md description}}
                        </div>
                        <section class="visible-xs visible-sm">
                            {{>swagger-to-html/model schema}}
                        </section>
                    </td>
                    <td class="hidden-xs hidden-sm">{{>swagger-to-html/model schema}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </section>

{{/if}}