{{!--
    Renders the definition-section of the HTML-page.
    @param {Definition[]} definitions a list of JSON-subschemas.
    @api public
--}}
                   
{{#if definitions}}
    <h2>Schema definitions</h2>

    {{#eachSorted definitions}}
        {{>swagger/model model=. title=@key anchor="/definitions" }}
    {{/eachSorted}}
{{/if}}    
