{{!--
    Renders the parameter table within a operation definition.
    @param {Parameter[]} parameters a list of Swagger-Parameter objects
    @api public
--}}

{{#if parameters}}
    <section class="sw-request-params">
        <table class="table">
            <thead>
            <tr>
                <th class="sw-param-name"></th>
                <th class="sw-param-description"></th>
                <th class="sw-param-type"></th>
                <th class="sw-param-data-type"></th>
            </tr>
            </thead>
            <tbody>
            {{#each parameters}}
                <tr>
                    <td>{{name}}
                        {{#if required}}
                            <span class="json-property-required"></span>
                        {{/if}}</td>
                    <td>{{md description}}</td>
                    <td>{{in}}</td>
                    <td>
                        {{>json-schema/datatype .}}
                        {{#if items}}
                            ,{{>json-schema/datatype items}}
                        {{/if}}
                        {{#if collectionFormat}}
                            <div class="sw-param-collection-format">{{md (swagger--collection-format collectionFormat)}}</div>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </section>
{{/if}}