{{! renders the request-body section of a method}}

{{#if consumes}}
    <section class="sw-request-body">
        <p>{{#each consumes}}<span class="label label-default">{{.}}</span> {{/each}}</p>
        {{#if _request_body}}
            {{#with _request_body}}
                <div class="row">
                    <div class="col-md-6">
                        <p>{{md description}}</p>
                    </div>
                    <div class="col-md-6 sw-request-model">{{>swagger/model schema}}</div>
                </div>
            {{/with}}
        {{/if}}
    </section>
{{/if}}
