{{!--
    Renders the responses section of an operation
    @param {Response[]} responses a list of Swagger-Response definitions
    @param {string[]} produces a list of response content types produced by the operation
    @api public
--}}

{{#if responses}}
    <section class="sw-response-body">
        {{#if produces}}
            <p>{{>swagger/list-of-labels values=produces}}</p>
        {{else if @root.produces}}
            <p><a href="#sw-default-produces">Uses default content-types: </a>
                {{>swagger/list-of-labels values=@root.produces}}
            </p>
        {{/if}}

        <table class="table">
            <thead>
            <tr>
                <th class="sw-response-code"></th>
                <th class="sw-response-description"></th>
                <th class="sw-response-data-type hidden-xs hidden-sm"></th>
            </tr>
            </thead>
            <tbody>
            {{#each responses}}
                <tr class="sw-response-code-{{@key}}">
                    <td>{{@key}}</td>
                    <td>
                        <div class="sw-response-description-text">
                            {{md description}}
                        </div>
                        <section class="visible-xs visible-sm">
                            {{>swagger/model model=schema}}
                        </section>
                    </td>
                    <td class="hidden-xs hidden-sm">{{>swagger/model model=schema}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </section>

{{/if}}