{{! entry point for the whole template: Renders the whole HTML-page}}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="container">
          {{#with body}}
              {{>swagger-to-html/htmlBody}}
          {{/with}}
        </div>
    </body>
</html>